<div class="w-full flex justify-center">
  <div class="bg-white p-4 w-full max-w-5xl rounded-xl">
    <h1 class="text-2xl font-bold mb-4 text-red-500">{{title}}</h1>

    <form hx-post="/api/register" hx-trigger="submit" hx-target="#response" hx-on="htmx:afterRequest: resetForm()"
      class="space-y-4">
      <div>
        <label for="username" class="block text-sm font-medium text-gray-700">Username:</label>
        <input type="text" id="username" name="username" required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
        <input type="email" id="email" name="email" required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Password:</label>
        <input type="password" id="password" name="password" required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <button type="submit"
        class="w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Submit</button>
    </form>
    <div id="response" class="mt-4"></div>
  </div>
</div>

<script>
  function resetForm() {
    console.log('resetting form');
    document.querySelector('form').reset();
  }

  document.querySelector('form').addEventListener('htmx:afterRequest', resetForm);
</script>